body
    {
        background-color: rgb(19, 193, 216);
    }

h1
    {
        color: red;
    }

p
    {
        color: blueviolet;
    }

ol
    {
        font-style: italic;
    }

h2
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
